* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #d9dcd6;
}

/* Styles for header logo text and navigation links */

/* Logo */

header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

header h1 {
  display: inline-block;
  font-size: 48px;
}

header h1 .seo {
  color: #d9dcd6;
}

/* Navigation links */

header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

/* Styles for all links and paragraphs */

a {
  color: #ffffff;
  text-decoration: none;
}

p {
  font-size: 16px;
}

/* Masthead image */

.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

/* Classes to designate left and right. Content on left, benefits on right */

.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}

/* Main content styles */

.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

/* Content styles to create blue boxes with white text for each section */

.content section {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

/* Content image styles within sections */

.content img {
  max-height: 200px;
}

/* Content headers */

.content h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

/* Benefits aside section style to create light blue box with white text on the right */

.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
  color: #ffffff;
}

/* Benefits aside section styles to create space between each  */

.benefits section {
  margin-bottom: 32px;
}

/* Benefits aside header styles to center the text in the section, create space underneath.
Font size specified here to match previous h3 font-size after changing to h2 in html to follow accessibility guidelines */

.benefits h2 {
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.17em;
}

/* Benefits aside image styles to create space on top and bottom between header and p text */

.benefits img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

/* Footer centered with specific font */

footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

footer h2 {
  font-size: 20px;
}
